@font-face {
  font-family: "AAStetica";
  src: url("../fonts/AAStetica-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "RobotoFlex";
  src: url("../fonts/RobotoFlex-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure {
  margin: 0;
  padding: 0;
  font-weight: inherit;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: transparent;
  padding: 0;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
 :where([fill]:not([fill=none],
 [fill^=url])) {
   fill: currentColor;
 }
 
 /**
   Приводим к единому цвету svg-элементы
   (за исключением тех, у которых уже указан
   атрибут stroke со значением 'none')
  */
 :where([stroke]:not([stroke=none],
 [stroke^=url])) {
   stroke: currentColor;
 }
 
 /**
   Чиним баг задержки смены цвета при взаимодействии с svg-элементами
  */
 svg * {
   transition-property: fill, stroke;
 }
 
 /**
   Приведение рамок таблиц в классический 'collapse' вид
  */
 :where(table) {
   border-collapse: collapse;
   border-color: currentColor;
 }
 
 /**
   Удаляем все анимации и переходы для людей,
   которые предпочитают их не использовать
  */
 @media (prefers-reduced-motion: reduce) {
   *,
   ::before,
   ::after {
     animation-duration: 0.01ms !important;
     animation-iteration-count: 1 !important;
     transition-duration: 0.01ms !important;
     scroll-behavior: auto !important;
   }
 }


:root {
  --font-family: "Roboto Flex", sans-serif;
  --second-family: "Montserrat", sans-serif;
  --third-family: "AAStetica", sans-serif;
	--novaya-black: #050605;
	--novaya-white: #fff;
	--novaya-white-70: rgba(255, 255, 255, 0.7);
	--novaya-green-g-warm: #aab488;
	--novaya-green-g-cold-primary: #4f6650;
	--novaya-gray-gr-dark: #383938;
	--gray-light: #c4c0be;
} 

.app-svg {
  position: absolute;
  width: 0;
  height: 0;
  left: 0;
  top: 0;
}


.popup {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .9);
  width: 100%;
  height: 100%;
  overflow: auto;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.popup.is-active {
  pointer-events: auto;
  opacity: 1;
  visibility: visible;
}

.popup__wrapper {
  display: table;
  width: 100%;
  height: 100%;

}

.popup__inner {
  display: table-cell;
  vertical-align: middle;
  padding: 50px 0;
}

.popup__content {
  background-color: #fff;
  padding: 30px;
  max-width: 600px;
  margin: 0 auto;
  position: relative;
}

body.oh {
  overflow: hidden;
}

body {
  font-family: "Roboto", "RobotoFlex" ,sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.15;
  color: var(--novaya-black);
}

.container {
  max-width: 1246px;
  padding: 0 15px;
  margin: 0 auto;
}

.decor {
  position: relative;
}

.decor::after,
.decor::before {
  content: '';
  position: absolute;
  width: 184px;
  height: 43px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.decor.right-top::after {
  background-image: url(../images/decor-left.svg);
  right: 0;
  top: 0;
}

.decor.left-top::before {
  background-image: url(../images/decor-right.svg);
  left: 0;
  top: 0;
} 

.decor.left-bottom::before {
  background-image: url(../images/decor-right.svg);
  left: 0;
  bottom: 0;
}


.places .decor.left-top::before,
.places .decor.right-top::after {
  top: -145px;
}



.header {
  position: fixed;
  left: 0;
  right: 0;
  padding-top: 24px;
  transition: .3s;
  z-index: 9999;
}

.header.scroll {
  background-color: var(--novaya-green-g-cold-primary);
  padding-top: 16px;
  box-shadow: 0px 8px 8px -4px rgba(0, 0, 0, 0.03), 0px 20px 24px -4px rgba(0, 0, 0, 0.08);
}

.header.opened {
  background-color: var(--novaya-green-g-cold-primary);
}


.header__top {
  display: flex;
  align-items: center;
  padding: 14px 0;
  font-size: 14px;
  color: var(--novaya-white);
}
.header__phone {
  margin-right: 31px;
  display: flex;
  align-items: center;
  gap: 4px;
  transition: .3s;
}

.header__phone span:nth-child(2),
.link span:nth-child(1),
.header__nav ul li a,
.contacts__mail a, 
.contacts__phone a {
  display: inline-block;
  position: relative;
}

.header__phone span:nth-child(2)::after, 
.link span:nth-child(1)::after,
.header__nav ul li a::after,
.contacts__phone a::after,
.contacts__mail a::after  {
  content: '';
  width: 0%;
  height: 1px;
  background-color: var(--novaya-white);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -3px;
  transition: .3s;
}

.room__link .link span:nth-child(1)::after {
  background-color: var(--novaya-white);
}

.link span:nth-child(1)::after {
  background-color: var(--novaya-green-g-cold-primary);
}


.header__phone:hover span:nth-child(2)::after,
.link:hover span:nth-child(1)::after,
.header__nav ul li a:hover::after,
.contacts__phone a:hover::after,  
.contacts__mail a:hover::after  {
  width: 100%;
}

.link span:nth-child(2) {
  transition: .3s;
} 

.link:hover span:nth-child(2) {
  transform: translateX(5px);
}


.header__address {
  margin-right: auto;
  display: flex;
  align-items: center;
  gap: 6px;
}
.header__language {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 4px;
  color: inherit;
}

.header__nav {
  padding: 16px 0;
}

.header__nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  color: var(--novaya-white);
}





.intro {
  min-height: 632px;
  width: 100%;
  background-size: cover;
  background-position: center bottom;
  padding-top: 175px;
}

.intro__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}



.section__title {
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 36px;
  margin-bottom: 72px;
}


.about {
  padding: 145px 0;
}

.about__grid {
  display: grid;
  align-items: center;
  grid-template-columns: 45% auto;
  gap: 24px;
}
.about__img {
  padding-left: 48px;
}

.about__content .text__block {
  padding-right: 48px;
}

.text__block p:not(:last-child) {
  margin-bottom: 20px;
}

.about__link {
  grid-column: 2;
  justify-self: end;
  margin-top: 60px;

}
.link {
  display: flex;
  font-weight: 400;
  align-items: center;
  gap: 8px;
  color: var(--novaya-green-g-cold-primary);
}
.link--white {
  color: var(--novaya-white-70);
}

.rooms { 
  position: relative;
  margin-bottom: 145px;
}

.rooms::after {
  content: '';
  width: 100%;
  height: calc(100% - 95px);
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: var(--novaya-green-g-cold-primary);
  z-index: -1;
}

.room__grid {
  display: grid;
  grid-template-columns: 58% auto;
  gap: 24px;
}
.room__gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  flex-shrink: 0;
}


.room__gallery-item:nth-child(1), 
.room__gallery-item:nth-child(4) {
  width: 55%;
}

.room__gallery-item:nth-child(2), 
.room__gallery-item:nth-child(3) {
  width: 41%;
}

.room__gallery-item:nth-child(2) {
  align-self: flex-end;
}

.room__gallery-item {
  overflow: hidden;
}

.room__gallery-item img {
  border-radius: 8px;
  width: 100%;
}
.room__content {
  padding-top: 140px;
  color: var(--novaya-white);
}
.room__content .section__title {
  margin-bottom: 40px;
}

.room__content .room__link {
  margin-top: 72px;
}

.restaurant {
  margin-bottom: 145px;
}

.restaurant__grid {
  display: grid;
  grid-template-columns: 40% auto;
  gap: 24px;
}

.restaurant__link {
  margin-top: 72px;
}


.restaurant__img {
  border-radius: 12px;
  overflow: hidden;
}

.places {
  padding-bottom: 145px;
  padding-top: 145px;
}



.tabs__list {
  display: flex;
  align-items: center;
  margin-bottom: 40px;


}

.tabs__list li {
  display: flex;
  flex-shrink: 0;
}

.tabs__list li:not(:last-child) {
  margin-right: 28px;
  position: relative;
}

.tabs__list li:not(:last-child)::after {
  content: '';
  position: absolute;
  right: -14px;
  top: 50%;
  transform: translateY(-50%);
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--novaya-green-g-warm);
}


.tabs__list li a {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: var(--novaya-gray-gr-dark);
  transition: .3s;
}

.tabs__list li.active a {
  color: var(--novaya-green-g-cold-primary);
}

.places__grid {
  display: grid;
  grid-template-columns: 46% auto;
  gap: 24px;
}
.places__img {
  border-radius: 8px;
  overflow: hidden;
}

.places__title {
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 24px;
}

.places__title span {
  display: inline-block;
  padding-left: 20px;
  position: relative;
}

.places__title span:after {
  content: '';
  position: absolute;
  left: 3px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: var(--novaya-green-g-warm);
  width: 8px;
  height: 8px;
}

.gallery {
  padding-bottom: 145px;
}

.gallery__slider {
  margin-bottom: 72px;
}

.gallery__slider .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 100;
}

.gallery__slider .slick-arrow svg {
  width: 22px;
  height: 14px;
  fill: #fff;
}

.gallery__slider .slick-arrow.slick-prev {
  left: 0;
}

.gallery__slider .slick-arrow.slick-next {
  right: 0;
}

@media (min-width: 1100px) {
  .gallery__slider .slick-track {
    display: flex;
    align-items: center;
    margin: 0 -16px;
  }
} 



.gallery__slide {
  padding: 0 16px;
}

.gallery__slide  {
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}


.gallery__slide.slick-center {
  min-height: 500px;
  cursor: initial;
  /* transition: min-height 0.25s ease-out; */
}

.gallery__slide.slick-center img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: .3s;
  border-radius: 12px;
  min-height: 500px;
}

.footer {
  padding-top: 145px;
  padding-bottom: 72px;
  background: var(--novaya-gray-gr-dark);
}

.contacts__grid {
  display: grid;
  grid-template-columns: 57% auto;
  gap: 24px;
}
.contacts__map {
  border-radius: 8px;
  overflow: hidden;
  height: 250px;
}
.contacts__content {
  color: var(--novaya-white);
  font-weight: 400;
}
.contacts__title {
  margin-bottom: 40px;
}
.contacts__address {
  margin-bottom: 12px;
}
.contacts__phone {
  margin-bottom: 12px;
}

.contacts__social {
  display: flex;
  gap: 26px;
  margin-top: 40px;
}

.contacts__social a {
  font-size: 0;
  line-height: 0;
}
.footer__row {
  margin-top: 72px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 24px;
}
.footer__author {
  font-weight: 400;
  font-size: 16px;
  color: var(--novaya-white);
}

.footer__author a {
  text-decoration: underline;
}

.footer__nav ul {
  display: flex;
  gap: 16px;
  color: var(--gray-light);
}

.mobile__hamburger {
  display: none;
}
